@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Degular-Semibold";
  /* font-weight: 400; */
  src: url(/fonts/Degular-Semibold.otf) format("opentype");
}
@font-face {
  font-family: 'DegularVariable';
  /* font-style: normal; */
  /* font-weight: 400; */
  font-display: swap;

  src: url(/fonts/DegularVariable.ttf) format('truetype');
}
/*opentype*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-rubik);
}
/* body {
  font-family: "Degular-Semibold";
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
